.validations > span{
  display: block;
}

.validations__valid {
  color: green
}

.validations__invalid {
  color: firebrick;
}

///////////////////Media
@media(max-width: 992px){
  .row {

    form {

      div {

        input {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
